.scroll::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}
.scroll::-webkit-scrollbar-thumb {
  background: #dadada;
  border-radius: 5px
}
.scroll::-webkit-scrollbar-track {
  background: #fff;
}