.scroll::-webkit-scrollbar {
  width: 5px !important;
}

.scroll::-webkit-scrollbar-thumb {
  background-color: #cbd5e1 !important;
  border-radius: 3px;
}

.scroll::-webkit-scrollbar-track {
  background-color: #f1f5f9;
  border-radius: 3px;
}

/* Smooth transitions for fade overlays */
.fade-overlay {
  transition: opacity 0.3s ease-in-out;
}
