@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
  --font-urbanist: "Urbanist", sans-serif;
  --color-primary: #196685;
  --color-background: #ff5252;
}

@custom-variant dark (&:where(.dark, .dark *));
