/* .react-international-phone-input-container{
    padding: 5px 5px !important;
} */

.react-international-phone-country-selector-button{
padding: 22px 5px;
margin-top: 6px;
}
/* .react-international-phone-input{
    width: 100%;
    padding: 10px 5px !important;
} */